body, html {
  margin: 0px;
  height: 100%;
  font-family: "Roboto", "helvetica", "arial";
  padding: 0;
}

header {
  margin: 0px;
  width: 100%;
  height: 100%;
  background: no-repeat center center;
  background-attachment: fixed;
  background-image: url('img/new-york-city-336475_1920.jpg');
  background-repeat: no-repeat;
  padding: 0;
  
}

.header-overlay {
  height: 100%;
  width: 100%;
  background-color: rgba(120, 0, 0, 0.2);
  overflow: scroll;
  padding: 0;
}


@header-container-padding: 5%;
.header-container {
  //margin-top: 5%;
  box-sizing: border-box;
  padding: @header-container-padding;
  height: 100%;
  height: 100%;
  position: relative;
}

.header-boxes {
  position: absolute;
  bottom: 2%;
  
  //width: 100%;
  //background-color: red;
  left: @header-container-padding;
  right: @header-container-padding;
} 

.logo-part {
  color: @red;
}


.logo-container {
  //margin: 0px (100-@header-box-width*3) / 6;
  //margin-bottom: 20%;
}

.logo-container hr {
  width: 300px;
}

img {
  margin-bottom: 50px;
}

.gray-background {
  background-color: #f5f5f5;
}

h1,h2,h3,h4,h5,h6,p {
  margin: 0;
}

 h2 {
  font-size: 70px;
  text-transform: uppercase;
  font-weight: 600;
}

section hr {
  max-width: 200px;
}

section p {
  font-size: 20px;
  text-align: left;
  margin: 20px 0;
  font-weight: 300;
}

section {
  padding-top: 80px;
  padding-bottom: 40px;
}

@header-box-height: 260px; 
@header-box-width: 31%;

.header-box {
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  margin: 20px auto;
}

@media screen and (min-width: 1200px) {
  .header-box {
    box-sizing: border-box;
    height: @header-box-height;
    width: @header-box-width;
    margin: auto 0;
    float: left;
  }
  
  .header-box-margin {
    margin: auto (100-3*@header-box-width) / 2;
  }
}

@media screen and (max-width: 1200px) {
  header {
    height: 120%;
  }
}



.header-box h3 {
  font-size: 30px;
  margin: 0;
  font-weight: 300;
}



.header-box p {
  color: #fff;
  font-size: 17px;
  line-height: 25px;
  font-weight: 100;
}


@header-icon-height: 80px;
.header-icon {
	text-align: center;
	width: @header-icon-height;
	margin: 0%;
  margin-right: 20px;
	height: 100%;
	float: left;
}

@red: #EF4035;
.header-icon-background {
  background-color: @red;
  width: @header-icon-height;
  height: @header-icon-height;
  margin: 0 auto;
  //padding: 10px;
	border-radius: 50%;
  font-size: 50px;
  line-height: @header-icon-height; 
}

.logo {
  color: white;
  font-size: 120px;
  text-transform: uppercase;
  text-align: right;
  font-weight: 900;
}

.sub-logo {
  color: white;
  font-size: 40px;
  text-align: right;
  font-weight: 100;
}

@media screen and (max-width: 1300px) {
  .logo {
    font-size: 90px;
  }
  .sub-logo {
    font-size: 30px;
  }
}


hr {
margin: 20px auto;
height: 1px;
box-sizing: content-box;
border-top: 2px solid white;
border-bottom: 2px solid white;
border-left: 0;
border-right: 0;
}

hr.colored {
  border-color: @red;
}